body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    color: orangered;
}
table {
    text-align: left;
    color:orangered;
    font-size: x-large;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background:#a4abf8;
    border-radius: 15%;

}
h3 {
    text-align: center;
    font-style: italic;
}
.projects img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}
p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
