body
{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.assign {
background-color: grey;
margin: 10px;
padding: 10px;
border-radius: 20px;
width: 20%;
box-shadow: 8px 8px brown;
display: block;

}
.assign img {
 width: 200px;
 margin: 10px;
 border: 2px solid midnightblue;
h1 {
width: 100%;
display: block;
text-align: center;
color:red;
}

    
}
.assign img{
    width: 200px;
    margin: 10px;
    border: 2px;

}
