body
{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.assign {
width: 20%;
box-shadow: 8px 8px [blue];
display: block; 
border-radius: 20px; 
}

    
}
.assign img{
    width: 200px;
    margin: 10px;
    border: 2px;

}
